* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: rgb(36, 139, 243);
	margin:0;
	padding-top: 3.75rem;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 1.875rem;
	height: 2.1875rem; 

	
}

form {
	margin-right: auto;
	margin-left: auto;
	width: 25rem;
	padding: 40px;
	border-radius: 3px;
	background-color: white;
	font-size: 1.25rem;


}

form h1 {
	padding-top: 15px;
	text-align: center;
}

input[type='email'],
input[type='password'] {
	width: 20rem;
	height: 3.44rem;
	border: 2px solid lightgrey;
	padding: 15px;
	margin-bottom: 1rem;
	font-size: 1.25rem;


}

button[type='submit'] {
	height: 3.44rem;
	width: 20rem;
	border: 2px solid rgb(83, 167, 0);
	padding: 15px;
	background-color: rgb(83, 167, 0);
	color: white;
	text-align: center;
	margin: 15px auto;
	font-size: 1.25rem;

}

button:hover[type='submit']{
	background-color: rgb(76, 130, 5);

}

.label {
	
}

.forgot-password {
	display: block;
	text-align: center;
	color: grey;
	padding: 15px;
}

.log-in {
	color: white;
	text-align: center;
	margin: 1rem auto;
}

.log-in a {
	color: white;
}